<!DOCTYPE html>
<html>
<head>
    <title>Quiz Question</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <form method="post" action="/submit/">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <label><input type="radio" name="selected_option" value="A"> {{ question.option_a }}</label><br>
        <label><input type="radio" name="selected_option" value="B"> {{ question.option_b }}</label><br>
        <label><input type="radio" name="selected_option" value="C"> {{ question.option_c }}</label><br>
        <label><input type="radio" name="selected_option" value="D"> {{ question.option_d }}</label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

